langchain
python-dotenv
langchain-community
sentence_transformers
bs4
langchain-ollama
langchain-google-genai
langchain-huggingface
pandas
streamlit
transformers
docker
flask
folium
paho-mqtt
flask_mqtt
clickhouse_driver
polyline
flask_socketio